
<div class="row text-center">
  <div class="col-md-6 col-md-offset-3" style="background: #fff; border-radius: 5px; margin-top:80px;">
    <h1>Welcome to Landing Page X</h1>
    <p class="lead">Here begins a new startup! Please be kind and subscribe to it while it's still new, and tell your friends in the process!</p>
    <%= render 'form' %>
    <p>Facebook Share and Other Social Stuff</p>
  </div>
</div>
