
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center" style="background: #fff; border-radius: 5px; margin-top:80px;">


<p id="notice"><%= notice %></p>
<p>
  <strong>Thank you for subscribing:</strong>
  <br>
  <%= @lead.email %>
</p>
<p>Please share this</p>
  </div>
</div>